# The top-most EditorConfig file
root = true

[*]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,vb}]
indent_style = space
indent_size = 4


[*.{css,less,html,cshtml}]
indent_style = space
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = methods

[*.{xml,json}]
indent_style = space
indent_size = 2